/*
----------------------------------------------------------------------------
Footer
----------------------------------------------------------------------------
*/
footer p {
    text-align:center;
    font-size:12px;
    color:gray;
}

/*
----------------------------------------------------------------------------
Forms
----------------------------------------------------------------------------
*/
.formbutton {
    margin-top:10px;
}

/*
----------------------------------------------------------------------------
Login Page
----------------------------------------------------------------------------
*/
body.fullscreen {
    padding-top:20px;
}

#loginform h1 {
    text-align:center;
    display:block;
    margin-bottom:10px;
}

#loginform input {
    width:258px;
}

/*
----------------------------------------------------------------------------
Header
----------------------------------------------------------------------------
*/
body.normal {
    padding-top:60px;
    /* 60px to make the container go all the way to the bottom of the topbar */
}

.navbar .brand {
    font-weight:700;
    color:#fff;
}

/*
----------------------------------------------------------------------------
Layouts
----------------------------------------------------------------------------
*/
.withbtn {
    float:left;
    width:80%;
}

.addbtn {
    float:right;
}